
@{
    ViewBag.Title = "DealtList";
    Layout = "~/Views/Shared/_LayoutHomeIframeMainList.cshtml";
}
@section scripts{
    <script type="text/javascript">

        var listTable;
        var auditStatus={"waitVerify": @((int)Lumos.Entity.Enumeration.AuditFlowV1Status.WaitVerify),"inVerify":@((int)Lumos.Entity.Enumeration.AuditFlowV1Status.InVerify) };
        $(document).ready(function () {

            $("#AuditStatus").val(auditStatus.waitVerify);
            $('#btn_Wait').attr("auditStatus", auditStatus.waitVerify);
            $('#btn_In').attr("auditStatus", auditStatus.inVerify);
            $('#btn_In,#btn_Wait').live('click', function () {
                var status = $(this).attr("auditStatus");
                $("#AuditStatus").val(status);
                listTable.loadData(0);
            });

            listTable = $("#list_table").loadDataTable({
                url: "/Biz/Insurance/GetListByVerify",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" class=\\\"a-btn a-btn-edit\\\" operate=\\\"dealt\\\">处理</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.sn + "\"   >" + p_row.sn + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.clientCode + "\">" + p_row.clientCode + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.yyzZ_Name + "\">" + p_row.yyzZ_Name + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.contactName + "\">" + p_row.contactName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.contactPhoneNumber + "\">" + p_row.contactPhoneNumber + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productTypeName + "\">" + p_row.productTypeName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuName + "\">" + p_row.productSkuName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.submitTime + "\">" + p_row.submitTime + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                refreshInterval: 0,
                success: function (data) {
                    $('#waitCount').text(data.status.waitCount);
                    $('#inCount').text(data.status.inCount);
                },
                operate: {
                    "dealt": function (obj) {

                        function dealt(obj) {
                            var url = '/Biz/Insurance/Verify?id=' + obj.id + "&auditStatus=" + obj.auditStatus;
                            var title = '核实订单-' + obj.sn;
                            var dialog = art.dialog.open(url, {
                                id: "openDialog2",
                                title: title,
                                width: '900px',
                                height: '600px',
                                lock: true,
                                drag: false,
                                cancelVal: '关闭',
                                cancel: true,
                                button: [{
                                    name: '核实正确,转入处理',
                                    callback: function () {

                                        this.iframe.contentWindow.submit(operateType.submit, function (d) {
                                            if (d.result == resultType.success) {
                                                dialog.close();
                                                listTable.loadData();
                                            }
                                            $.lumos.tips(d.message);
                                        });
                                        return false;
                                    },
                                    focus: true
                                },
                                {
                                    name: '核实无效，作废',
                                    callback: function () {

                                        this.iframe.contentWindow.submit(operateType.cancle, function (d) {
                                            if (d.result == resultType.success) {
                                                dialog.close();
                                                listTable.loadData();
                                            }
                                            $.lumos.tips(d.message);
                                        });
                                        return false;
                                    }
                                }, {
                                    name: '暂存',
                                    callback: function () {

                                        this.iframe.contentWindow.submit(operateType.save, function (d) {
                                            $.lumos.tips(d.message);
                                        });
                                        return false;
                                    }
                                }]
                            });
                        }

                        if (obj.dealtStatus == auditStatus.waitVerify) {
                            art.dialog.confirm('您确定要处理订单号' + obj.sn + '，确定后该订单由您来处理？', function () {
                                dealt(obj)
                            });
                        }
                        else {
                            dealt(obj);
                        }
                    }
                }

            });

        });


    </script>
}

<form id="form1" name="form1">
    @Html.AntiForgeryToken()
    <input type="hidden" name="AuditStatus" id="AuditStatus" value="" />
    <div class="search-bar status-bar">
        <div class="filter">
            <span id="btn_Wait" class="status-bar-btn selected">待核实<span class="waitCount">(<span id="waitCount">0</span>)</span></span>
        </div>
        <div class="filter">
            <span id="btn_In" class="status-bar-btn">核实中<span class="inCount"> (<span id="inCount">0</span>)</span></span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%" class="no">
                        序号
                    </th>
                    <th style="width:10%">
                        订单号
                    </th>
                    <th style="width:10%">
                        商户代码
                    </th>
                    <th style="width:15%">
                        商户名称
                    </th>
                    <th style="width:10%">
                        商户联系人
                    </th>
                    <th style="width:10%">
                        联系电话
                    </th>
                    <th style="width:10%">
                        产品类型
                    </th>
                    <th style="width:10%">
                        产品名称
                    </th>
                    <th style="width:10%">
                        提交时间
                    </th>
                    <th style="width:5%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <div class="pull-left">
                            <span class="load-tip"></span>
                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>