
@{
    ViewBag.Title = "WithdrawRule";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background-color: #fff;
        }
    </style>
}


<div class="vnotice">
    <div class="vnotice-container">
        <div class="item-title">
            <h3 class="item-bigtitle">关于提现规则的一些问题</h3>
            <p class="item-date">日期：2017-01-27</p>
        </div>
        <div class="item-con">
            <ul>
                <li>1.提现次数:不限制提现次数，到账规则详见“提现时间”规定</li>
                <li>2.提现金额:不限制提现的金额</li>
                <li>3.提现账户:签约时提交的银行账户</li>
                <li>
                    4.提现时间:<br />

                    <div>
                        <p>1):工作日：周一至周五</p>
                        <p>2):当日18：00前申请提现，计入次日（T+1日）处理，于次日24:00前到账；</p>
                        <p>3):当日18：00后申请提现，计入后日（T+2日）处理，于后日24:00前到账；</p>
                        <p>4):周六日及法定节假日申请提现，将顺延至下一个工作日处理；</p>
                    </div>


                </li>
            </ul>

            <div style="color:gray; margin-top:50px;font-size:12px;">备注：如遇支付平台系统故障或网络故障，提现可能会稍有延迟，敬请谅解。</div>
        </div>
    </div>
</div>



