@{
    ViewBag.Title = "人才用工协议";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="vnotice">
    <div class="vnotice-container">
        <div class="item-con">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; 好易联平台旗下子系统车尊会汽车服务有限公司专注于车后市场行业垂直招聘，旨在打造华南地区车后市场匹配度最高的招聘移动平台。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;平台通过建立校、政、企三维立体系统，不断健全人才供应机制。现通过实习生派遣和周末兼职两种方式并行，以满足广大合作门店发展需要。</p>

            <p><strong>1.实习生派遣：</strong></p>

            <ol>
                <li><!--[if--><!--[endif]-->1）培养模式：为实现实习生工作效益最大化，用工单位须保证学员在其实习期前3个月，熟悉洗美、保养流程，初步涉及机修知识，符合平台对于一站式综合性服务人才的培养模式；<!--![endif]--><!--![if--></li>
                <li><!--[if--><!--[endif]-->2）福利待遇：用工单位除按规定提供实习生津贴和服务费外，须承担学员食宿，到岗交通费，保险费等；<!--![endif]--><!--![if--><!-- --><!--[if--><!--[endif]-->休假制度：每天实际用工不超过**小时，保证学员月休2-4天；<!--![endif]--><!--![if--><!-- --><!--[if--><!--[endif]-->流程：用工单位提前依要求提交需求表。平台将此信息收录网站数据库，推动学生报名。<!--![endif]--><!--![if--></li>
                <li><!--[if--><!--[endif]-->3）休假制度：每天实际用工不超过**小时，保证学员月休2-4天；<!--![endif]--><!--![if--></li>
                <li><!--[if--><!--[endif]-->4）流程：用工单位提前依要求提交需求表。平台将此信息收录网站数据库，推动学生报名。<!--![endif]--><!--![if--></li>
            </ol>

            <p><strong>2.周末兼职</strong></p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;用工单位须提供专业对口的实习用工环境，要求门店规模在**个门面以上；<!--![endif]--><!--![if--><!-- --><!--[if--><!--[endif]-->福利待遇：**元/人/天，月结；<!--![endif]--><!--![if--><!-- --><!--[if--><!--[endif]-->膳食和住宿：用工单位为学员提供免费伙食，承担往返交通费；<!--![endif]--><!--![if--><!-- --><!--[if--><!--[endif]-->流程：用工单位提前依要求提交需求表。平台将此信息收录网站数据库，推动学生报名。<!--![endif]--><!--![if-->&nbsp;</p>

            <p>&nbsp;</p>

            <p><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--><!--![endif]--><!--![if--></p>

        </div>
    </div>
</div>

