@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section styles{
    <style type="text/css">
        .list-input-item .item-name {
            width: 140px;
            text-align: right;
            padding-right: 5px;
        }
    </style>
}


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            getHis();

            $('#btn_search').live('click', function () {

                var carPlateNo = $("#Model_CarPlateNo").val();
                var carVinLast6Num = $("#Model_CarVinLast6Num").val();


                if (carPlateNo == '') {
                    $.lumos.tips("车牌号码不能为空");
                    return;
                }

                if (carVinLast6Num == '') {
                    $.lumos.tips("车架号后6位不能为空");
                    return;
                }

                var l_Data = $("#form1").serializeArray();

                $.lumos.postJson({
                    isShowLoading: true,
                    url: "/App/ServiceKit/GetCarInsExpireDate",
                    data: l_Data,
                    success: function (d) {
                        if (d.result == resultType.success) {
                            var data = d.data;
                            $('#lbl_ValidityEnds').text(data.validityEndDate.toDate());
                            $('#lbl_InsuranceEndDate').text(data.insuranceEndDate.toDate());
                            getHis();
                        }
                        else {
                            $.lumos.tips(d.message);
                            $('#lbl_ValidityEnds').text("");
                            $('#lbl_InsuranceEndDate').text("");
                        }

                    }
                });

            });

            $('.searchhis').live('click', function () {


                var carPlateNo = $(this).attr('carPlateNo');
                var carVinLast6Num = $(this).attr('carVinLast6Num');


                $('#Model_CarPlateNo').val(carPlateNo)
                $('#Model_CarVinLast6Num').val(carVinLast6Num)
            });

        });

        function getHis() {
            $('#his_searchland_tag').html('');
            var l_Data = $("#form1").serializeArray();
            $.lumos.postJson({
                data: l_Data,
                url: "/App/ServiceKit/GetCarInsExpireDateSearchHis",
                success: function (d) {
                    if (d.result == resultType.success) {
                        var his = d.data;
                        for (var i = 0; i < his.length; i++) {
                            $('#his_searchland_tag').append('<span class="searchhis" carPlateNo=' + his[i].carPlateNo + ' carVinLast6Num=' + his[i].carVinLast6Num + '><a>' + his[i].carPlateNo + '</a></span>')
                        }
                    }
                }
            });
        }

    </script>
}

<form id="form1" name="form1">
    @Html.AntiForgeryToken()

    <input type="hidden" name="Model.ClientCode" value="@Request.QueryString["clientcode"]">


    <ul class="list-input" style="overflow:hidden">
        <li class="list-input-item">
            <div class="item-left fl">
                <div class="item-name fl"><span>车牌号码</span></div>
                <div class="item-value fl"><input type="text" placeholder="请输入" id="Model_CarPlateNo" name="Model.CarPlateNo" maxlength="15" value="" class="ad-name"></div>
            </div>
            <div class="item-right fl">

            </div>
        </li>
        <li class="list-input-item">
            <div class="item-left fl">
                <div class="item-name fl"><span>车架号后6位</span></div>
                <div class="item-value fl"><input type="tel" placeholder="请输入" id="Model_CarVinLast6Num" name="Model.CarVinLast6Num" maxlength="6" value="" class="ad-name"></div>
            </div>
            <div class="item-right fl">

            </div>
        </li>
    </ul>


    <div style="background: #fff; line-height: 48px; margin: 20px 20px; border: 1px solid #E5E5E5; padding: 5px;color:green">
        <p><span style="margin-right:20px;">&nbsp;&nbsp;&nbsp;年审到期日</span> <span id="lbl_ValidityEnds"></span></p>
        <p><span style="margin-right:20px;">商业险到期日</span> <span id="lbl_InsuranceEndDate"></span></p>
    </div>



    <div class="btnbox1">
        <div class="btnbox1-container">
            <a href="javascript:void(0)" class="btn btn-c-orange" id="btn_search">
                <span>
                    查询
                </span>
            </a>
        </div>
    </div>

    <div class="hr"></div>

    <div class="searchland">
        <div class="searchland-container ">
            <div class="searchland-title">
                <p>历史纪录</p>
            </div>
            <div class="searchland-tag" id="his_searchland_tag">

            </div>
        </div>
    </div>




</form>