@model WebBack.Models.App.Product.GoodsDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";

}

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#owl_prd_details_img').owlCarousel({
                autoPlay: true,
                items: 1,
                loop: true,
                margin: 0,
                lazyLoad: true,
                merge: true,
                video: true,
                singleItem: true
            });

        });


    </script>
}


<div class="prd-details-img">
    <div class="prd-details-img-container">
        <div id="owl_prd_details_img" class="owl-carousel">

            @{

                foreach (var img in Model.ElseImgs)
                {
                    if (!string.IsNullOrEmpty(img))
                    {
                        <a class="item"><img src="@img" alt="" style="width:100%"></a>
                    }
                }
            }


        </div>
    </div>
</div>

<div class="prd-details-field">
    <div class="prd-details-field-container">
        <div class="f-name"><span id="lbl_Prodcut_Name">@Model.Product.Name</span> </div>

        <div class="f-price">
            <span> 商城价：</span> <span class="dprice" id="lbl_Prodcut_Discount">￥@Model.Product.Price.ToPrice()</span>
            <span class="oprice" id="lbl_Prodcut_ShowPrice"></span>
        </div>
    </div>
</div>

<div class="hr"></div>
<div class="prd-details-info">
    <div class="prd-details-info-container">
        <div class="item-title">
            <span>商品介绍</span>
        </div>
        <div class="item-content">
            @Html.Raw(Model.Product.Details)
        </div>
    </div>
</div>





